@model  NewsPortal.ViewModel.UserPasswordViewModel
@{
    ViewBag.Title = "Change Password for " + Model.Username;
}

<h3 class="control-label" style="padding-bottom: 20px;">@ViewBag.Title</h3>

<form asp-controller="Manage" asp-action="ChangePasswordForUser" method="post" class="form-horizontal" role="form">
    @Html.AntiForgeryToken()
    
    <div class="text-success"> @TempData["Message"]</div>
            @Html.ValidationSummary("", new { @class = "text-danger" })

   
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-3">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-3">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Change password" class="btn btn-primary" />
        </div>
    </div>
</form>
@section Scripts {
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}