@using System.Text.RegularExpressions;


@model NewsPOrtal.DAL.Models.Article

@{
    ViewBag.Title = "Delete";
}

@{ 
    Layout = null;
 }

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>

<h3 style="color:#d9534f;margin-left:55px;">Are you sure you want to delete this article ?</h3>

<div>
    <hr />
    <dl class="dl-horizontal" style="margin-left:-40px">
        <dt>
            @Html.DisplayNameFor(model => model.Category.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd>
            <img src=@Url.Content(Model.ImagePath) style="width:350px">
        </dd>

        <dd>
            @Regex.Replace(Model.Body ?? string.Empty, "<.*?>", string.Empty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPublished)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPublished)
        </dd>

    </dl>

    <form asp-action="Delete" method="post">
        @Html.AntiForgeryToken()
    <div class="form-actions no-color" style="margin-left: 420px;
    margin-bottom: 10px;">
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

    </div>
    </form>
</div>
