
@model NewsPOrtal.DAL.Models.Article

@{
    ViewBag.Title = "Details";
}

<h2 style="color:#337ab7;text-align:center">Article Details</h2>



<div class="row">
    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd>
            <img src=@Url.Content(Model.ImagePath)>
        </dd>
        <dd>
            @Html.Raw(Model.Body)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPublished)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPublished)
        </dd>

    </dl>
</div>


<p style="margin-left:16rem">


    @if (Model.IsPublished == false)
    {
        if (Model.CreatedBy == User.Identity.Name || ViewContext.HttpContext.User.IsInRole("SuperAdmin"))
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })

        }

    }
    else if (ViewContext.HttpContext.User.IsInRole("SuperAdmin"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
    }

    @Html.ActionLink("Back to List", "Index", "Articles", new { @class = "btn btn-primary" })

    @if (Model.IsPublished == false)
    {
        if (ViewContext.HttpContext.User.IsInRole("SuperAdmin"))
        {
            @Html.ActionLink("Publish", "Publish", "Articles", new { id = Model.Id }, new { @class = "btn btn-primary" })
        }
    }

</p>

